*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:"CLEANVEL";
}

:root{
    --index:calc(1vw + 1vh); /*-- Размер --*/
    --colr_Y: #FABF2A; /*-- Тематич. цвет №1 --*/
    --colr_Y2: #eaac10; /*-- Тематич. цвет №1 --*/
    --colr_B: #1A72B1; /*-- Тематич. цвет №2 --*/
    --colr_B2: #96d1fc; /*-- Тематич. цвет №2 --*/
    --colr_R: #E93232; /*-- Тематич. цвет №3 --*/
}

@font-face {
    font-family:"CLEANVEL";
    src:url("fonts/CLEANVEL.TTF");
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family:"RubikMonoOne-Regular";
    src:url("fonts/RubikMonoOne-Regular.ttf");
    font-display: swap;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 15px;       
}
body::-webkit-scrollbar-track {
    background: rgb(214, 214, 212);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(71, 70, 70);
    border-radius: 3px;
}



.btnEng{ /*-- Шаблон кнопки --*/
    width: 200px;
    height: 35px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.9s;
}

.flx_col_ar{  /*-- Шаблон сетки-1 --*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.flx_row_ar{  /*-- Шаблон сетки-2 --*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

h2, h3, h4, h5, h6{  /*-- Разделы --*/
    width: 60%;
    text-align: center;
    border-bottom:2px solid rgb(255, 128, 1);
    font-size: 25px;
    padding: 3px;
    box-sizing: border-box;
    font-family:"RubikMonoOne-Regular";
    color: rgb(43, 43, 43);
}

.img_ic{  /*-- размеры изображ. --*/
    width: 30px;
    height: 30px;
    cursor: pointer;
}
span[name="r"]{
    font-weight: bold;
    color: var(--colr_R);
}

.head_aside_menu img, .signIN_form img{  /*-- кнопки "Закрыть" --*/
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.Wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
/*---------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------*/



.phone_site{
    display: none;
    position: fixed;
    right: 7%;
    top: 530px;
    width: 70px;
    height: 70px;
    animation-name: phoneSite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
    transform: rotate(0turn);
    z-index: 80;
}
@keyframes phoneSite{
    0%{ transform: rotate(-0.1turn);}
    100%{ transform: (1.8turn);
    }
}


.popUP_numberCall_block{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0%;
    top: 450px;
    width: 400px;
    height: 200px;
    background-color: var(--colr_B);
    filter: drop-shadow(-2px 5px 50px #60BCFF);
    border-radius: 10px;
    color: white;
    z-index: 101;
}

.popUP_numberCall_block_head{
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.popUP_numberCall_block_body{
    width: 90%;
}

.popUP_numberCall_block_body input{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: 0.5px solid var(--colr_B2);
    font-size: 18px;
    font-weight: bold;
    color: var(--colr_B);
}.popUP_numberCall_block_body input::placeholder{
    color: var(--colr_B);
}


.btnEng__call{
    background-color: var(--colr_Y);
    width: 100%;
    height: 40px;
    font-size: 20px;
    outline: none;
    margin-top: 10px;
}
.popUP_numberCall_block_body .btnEng__form:hover{
    background-color: var(--colr_Y2);
}










#aside_menu, .popUP_signIN{
    display: block;
    position: fixed;
    top: 0%;
    left: -100%;
    background:rgba(7, 7, 7, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
}
.popUP_signIN{
    display: none;
    justify-content: center;
    align-items: center;
    left: 0%;
    background-image: url("media/lond39.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.signIN_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 550px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.9);
}

.signIN_form_head{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;  
    font-size: 19px; 
}
.btnClose_popUP_signIN{
    margin-left: 80px;
}
span[name="inroom"]{
    font-size: 25px;
    font-weight: bold;
    color: var(--colr_Y);
}

.signIN_form_body{
    margin-top: 50px;
    width: 80%;
    text-align: center;
}
.signIN_form_body input{
   width: 100%;
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: var(--colr_B2);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: 0.5px solid var(--colr_B2);
}.signIN_form_body input::placeholder{
    color: var(--colr_B);
}


.signIN_form_body .btnEng__form{
    background-color: var(--colr_Y);
    height: 60px;
    font-size: 20px;
    outline: none;
}
.signIN_form_body .btnEng__form:hover{
    background-color: var(--colr_Y2);
}








.head_aside_menu {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--colr_B);
    padding: 10px;
    box-sizing: border-box;

}


.head_aside_menu p{
    font-family:"RubikMonoOne-Regular";
    color: var(--colr_Y);
    font-size: 25px;
}

.block_aside_menu{
    position: absolute;
    top: 0%;
    left: -20%;
    background-color: white;
    width: 300px;
    height: 100%;
    transition: left 0.7s;
    z-index: 2;
}

.aside_menu_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
}


.aside_menu_content ul li{
    width: 280px;
    height: 50px;
    border-radius: 30px;
    background-color: #1A72B1;
    padding-top: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    transition: background 1s;
    font-size: 17px;
}
.aside_menu_content ul li:hover{
    background-color: white;
    border: 1px solid #1A72B1;
}


.aside_menu_content ul a{
color: white;
}
.aside_menu_content ul a:hover{
    color: black;
}
    


.bl_aside_soc{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--colr_Y);
    width: 250px;
    height: 100%;
    transition: left 1.2s;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    z-index: 1;
}
.bl_aside_soc_text{
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
    cursor: default;
}


.bl_aside_soc_img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    border-top: 2px solid var(--colr_B);
}


.bl_aside_soc_img img{
    width: 60px;
    height: 60px;
    margin-top: 7px;
    cursor: pointer;
}











/*---------------------------------------------------------------------------------------------*/
#Head_eng, #Head_eng_Scroll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--colr_B);
    z-index: 10;
}
#Head_eng_Scroll{
    display: none;

}
.img_ic__menu{
    width: 35px;
    height: 20px;
    cursor: pointer;
}
.contacts_head{
    display: flex;
    align-items: center;
}
.logo_head p{
    font-size: 25px;
    font-family:"RubikMonoOne-Regular";
    color: var(--colr_Y);
}
.btn_sign{
    width: 100px;
    height: 30px;
    color: var(--colr_Y);
    border-radius: 3px;
    border: 1px solid var(--colr_Y);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.9s;
    background-color:white;
}
.btn_sign:hover{
    background-color: var(--colr_Y);
    color: white;
    border: none;
}
/*--------------------------------------------------------------------------------------------*/





/*--------------------------------------------------------------------------------------------*/
#Main_eng{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}
.main_photo_fon, .main_photo_fonDOP{
    position: absolute;
    width: 100%;
    height: 750px;
    z-index: 1;
}
.main_photo_fonDOP{
    display: none;
}
.main_wrap_content{
    position: relative;
    margin-top: 75px;
    height: 630px;
    z-index: 2;
}

.main_block_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 370px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 2px rgb(213, 210, 248);
    padding: 30px;
}

.text_content{
    width: 80%;
    height: 350px;
}

.text_content p{
    margin-top: 20px;
line-height: 40px;
font-size: calc(var(--index) * 1.2);
font-weight: bold;
}

.main_block_text h1{
    color: var(--colr_Y2);
    font-size: 37px;
    text-align: center;

}

.main_block_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 600px;
background-color: white;
border-radius: 5px;
}

.block_form{
    width: 90%;
    height: 550px;
    text-align: center;
}
.block_form p{
    font-size: calc(var(--index) * 1.1);
}
.block_form input{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: var(--colr_B2);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: 0.5px solid var(--colr_B2);
}


.block_form input::placeholder{
    color: var(--colr_B);
}
.block_form .btnEng__form{
    background-color: var(--colr_Y);
    height: 60px;
    font-size: 20px;
    outline: none;
}

.block_form .btnEng__form:hover{
    background-color: var(--colr_Y2);
}
.img_ben{
    width: 250px;
    height: 250px;
    margin-top: 15px;
}
/*--------------------------------------------------------------------------------------------*/






/*--------------------------------------------------------------------------------------------*/
.Block_1{
    height: 800px;
}
.Block_1_Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
}
.block_advant {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: var(--colr_B);
    border-radius: 65px;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}
.block_advant p{
    width: 70%;
}
.advant_numb{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
    color: var(--colr_Y);
    border: 5px solid var(--colr_Y);
}


/*----------------------------------------------------------*/








/*----------------------------------------------------------------------------------- Раздел: Акция ------------*/
.Block_2{
    height: 750px;
}
h3{
    color: var(--colr_R);
    border: none;
    font-size: calc(var(--index) * 2.5);
}
.Block_2_Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 700px;
    background-color: var(--colr_Y);
    border-radius: 10px;
}
.promo_up{
    width: 100%;
    height: 65px;
    text-align: center;
    font-size: calc(var(--index) * 1.6);
    font-weight: bold;
    color: white;
}
.promo_up p span{
    font-size: calc(var(--index) * 1.8);
    color: var(--colr_R);
    font-family:"RubikMonoOne-Regular";
}
.timer{
    color: var(--colr_B);
    font-family:"RubikMonoOne-Regular";
}

.promo_down{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 400px;
    margin-bottom: 30px;
}
.promo_down div:nth-child(2){
    width: 320px;
    height: 420px;
}
.card_promo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
    cursor: pointer;

}.card_promo:hover{
    width: 310px;
    height: 410px;
    box-shadow: 2px 2px 4px rgb(237, 147, 1);
}

.card_promo p{
    font-size: 25px;
    font-weight: bold;
}
.card_promo ul li{
   line-height: 30px;
}
.card_promo ul li::first-letter{
    font-weight: bold;
    font-size: 25px;
 }
.btnEng__promo{
    width: 100%;
    height: 45px;
    background-color: var(--colr_B);
}
.btnEng__promo_new{
    background-color: var(--colr_R);
}

.bl_price p{
    font-size: 30px;
    color: var(--colr_B);
    font-family:"RubikMonoOne-Regular";
    margin-bottom: 10px;

}
p[name="old_price"]{
    font-size: 24px;
    text-decoration: line-through;
    color: #20383f;
}
p[name="new_price"]{
    color: var(--colr_R);
}

/*---------------------------------------------------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------------- Раздел: Наши учителя ------------*/

.Block_3 {
    height: 1650px;

}

.teacher_block{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    width: 75%;
    height: auto;
    border: 2px solid var(--colr_Y);
    border-radius: 10px;
}

.teacher_foto{
    width: 40%;
    height: 480px;
    overflow: hidden;
}
.teacher_foto img{
    width: 100%;
    border-radius: 10px;
}
.t_djo img{
    width: 125%;
    border-radius: 10px;
}

.teacher_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 480px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}
.teacher_info p:first-child{
    font-size: 30px;
    font-weight: bold;
}
.teacher_info a{
    color: var(--colr_B);
    text-decoration: underline;
}
.teacher_like{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    width: 15%;
    height: 480px;
}
.teacher_like img{
    display: flex;
    width: 100px;
    height: 100px;
}
.like_heart {
    display: flex;
    width: 100%;
}
.like_heart img{
    width: 25px;
    height: 25px;
    margin: -5px 0px;
}
.like_heart input{
    width: 35px;
    height: 19px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}



.h4_bl_3_DOP, .h5_bl_4_DOP {
    color: white;
    border: none;
}

.teacher_block_DOP, .lessons_block_DOP{
    display: none;
    width: 100%;
    height: 500px;
    background-image: url("media/5.jpg");
    background-size: 127% auto;
    background-repeat: no-repeat;
}
.lessons_block_DOP{
    background-image: url("media/f3.jpg");
}

.teacher_block_DOP_morePanel, .lessons_block_DOP_morePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 55%;
    width: 100%;
    height: 185px;
    background: rgba(18, 73, 160, 0.7);
}
.btnEng_teach, .btnEng_lesson{
    background-color: var(--colr_Y);
    width: 350px;
    height: 50px;
    font-size: 19px;
}








/*---------------------------------------------------------------------------------------------------------------------*/







/*----------------------------------------------------------------------------------- Раздел: Как проходят занятия -----*/
.Block_4{
    height: 1000px;
}

.lessons_block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
}
.lesson{
    width: 49%;
    height: 450px;
    margin-top: 15px;
}
.l_1, .l_2, .l_3 {
background-image: url("media/tetr3.jpg");
background-size: 130% auto;
background-repeat: no-repeat;
border-radius: 5px;
}
.l_2 {
    background-image: url("media/f3.jpg");
}
.l_3 {
    background-image: url("media/tetr4.jpg");
}

.lesson_fon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background:rgba(16, 8, 103, 0);
    color: black;
    font-size: 30px;
    font-weight: bold;
    transition: background 0.9s;
    cursor: pointer;
}
.lesson_fon:hover{
    background:rgba(29, 73, 144, 0.8);
    color: white;
}

.lesson_fon p{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background:rgba(29, 73, 144, 0.6);
    color: white;
    font-size: calc(var(--index) * 1.3);
    padding: 135px 5%;
    box-sizing: border-box;
}





/*---------------------------------------------------------------------------------------------------------------------*/











/*----------------------------------------------------------------------------------- Раздел: Отзывы родителей ---------*/
.Block_5{
    position: relative;
    height: 800px;
    overflow: hidden;
}

.block_feedback{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0%;
    width: 250%;
    height: 500px;
    transition: left 1s;
}
.feed_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid var(--colr_Y);
    margin: 0px 10px 0px 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
}.feed_1 img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}.feed_1 p:last-child{
    font-size: 16px;
    font-weight: normal;
}


.btn_slider_group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 55px;
    box-sizing: border-box;
}

.btn_prev, .btn_next{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btnEng__feed{
    background-color: var(--colr_Y);
    width: 70%;
    height: 50px;
    font-size: 20px;
}
/*----------------------------------------------------------*/




/*--------------------------  футер код был =  --------------------------------*/
#Footer_eng{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    background-image: url("media/london.png");
    background-size: 100% 800px;
    background-repeat: no-repeat;
    background-position: 0px -100px;
    cursor: default;
}

.block_footrSoc{
    width: 35px;
}
.block_footrSoc img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.footer_contacts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 350px;
    height: 320px;
}
.blockMap{
    width: 350px;
    height: 230px;
    margin-top: 5px;
}
.footer_menu, .footer_registr{
    width: 250px;
    height: 320px;
}

.footer_list{
    margin-top: 10px;
}

.footer_list ul {
    color: #eaac10;
    font-weight: bold;
    font-size: 22px;
}
.footer_list ul li{
    color: white;
    font-size: 17px;
    font-weight: normal;
    margin-top: 10px;
    cursor: pointer;
}
.footer_list ul li:hover{
    font-weight: bold;
}

.block_pay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 50px;
    border: 1px solid #1A72B1;
    border-radius: 30px;
    padding: 3px;
    margin-top: 50px;
    box-sizing: border-box;
}
.block_pay img{
    width: 35px;
    height: 35px;
}


.footer_downPanel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    background-color: #121212;
}


